doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")

  body
    h1= title

    a(href="/update-cobj") Add to this table

    if records.length
      table(border="1")
        thead
          tr
            th ID
            th Name
            th Publisher
            th Price
        tbody
          each record in records
            tr
              td= record.id
              td= record.properties.name
              td= record.properties.publisher
              td= record.properties.price
    else
      p No records found.
